body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
  min-width: 360px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.side-button {
  background: #FFFFFF;
  color: #617088;
}
.side-button-select {
  background: #B4259B;
  color: #FFFFFF;
}
.side-title {
  font-size: 26px;
  padding-left: 12px;
  font-weight: bold;
  color: #617088;
}
.side-upgrade{
  width: 100%;
  height: 100%;
  padding: 18px 10px 0 10px;   
  color: #617088;
}
.setting-upgrade{
  width: 100%;
  height: 100%;
  padding: 45px 10px 0 10px;   
  color: #617088;
  text-align: left;
}
.setting-upgrade-mobile{
  width: 100%;
  height: 100%;
  padding: 21px 0 0 0;   
  color: #617088;
  text-align: left;
}
.padding-adjust {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.padding-adjust-big {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 30px;
}
.border-radius-dual {
  border-radius: 0.25rem !important;
}
.col-md-6-mine {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-md-2-mine {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-md-1-mine {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.offset-md-4-mine {
  margin-left: 66.666667%;
}
@media (max-width: 640px) {
  .col-md-6-mine {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-md-2-mine {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-1-mine {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-md-4-mine {
    margin-left: 50%;
  }
}
.table-edit {
  opacity: 1;
}
.table-edit:hover {
  color: #25a57f;
  font-weight: bold;
}
.table-edit:active {  
  color: #252525;
}
.col-xd-1-mine {
  -ms-flex: 0 0 8.3333333%;
  flex: 0 0 8.3333333%;
  max-width: 8.3333333%;
  display: flex;
}
.col-xd-2-mine {
  -ms-flex: 0 0 16.6666667%;
  flex: 0 0 16.6666667%;
  max-width: 16.6666667%;
  display: flex;
}
.col-xd-3-mine {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-xd-4-mine {
  -ms-flex: 0 0 33.3333333%;
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  display: flex;
  text-align: center;
}
@media (max-width: 1200px) {
  .col-xd-1-mine {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
  }
  .col-xd-2-mine {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
  }
  .col-xd-3-mine {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xd-4-mine {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    text-align: center;
  }
}
@media (max-width: 518px) {
  .col-xd-1-mine {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
  }
  .col-xd-2-mine {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
  }
  .col-xd-3-mine {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-xd-4-mine {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    text-align: center;
  }
}
.col-id-mine {  
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.add-view-item-adjust {
  margin: 20px 0 20px 0;
}