.react-bootstrap-table-pagination {
    flex-direction: row-reverse;
    text-align: right;
}

@media (max-width: 720px) {
    .react-bootstrap-table-pagination {
        flex-direction: row-reverse;
        text-align: left;
        margin-top: 10px;
    }
}

.react-bootstrap-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}
.react-bootstrap-table table {
    table-layout: auto !important
}
.table th,
.table td {
    white-space: nowrap
}